@font-face {
    font-family: "Bebas Neue";
    src: url("font.ttf");
}

body {
    display: flex;
    background-color: #f9f4f1;
    justify-content: center;
    font-family: Bebas Neue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    flex: 1;
    max-width: 1200px;
}

h1 {
    margin-top: 120px;
    font-size: 120px;
    margin-bottom: 100px;
    margin-top: 0;
    font-size: 80px;
    color: #103e56;
}

h2 {
    color: #b0b9c2;
    font-size: 30px;
}

h3 {
    color: #b0b9c2;
    font-weight: 100;
}

h5 {
    font-size: 20px;
    color: #041c28;
    margin-bottom: 18px;
}

img {
    width: 100%;
    height: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

a.scroll-to-content {
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
}

.videobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    height: 420px;
    padding-bottom: 20px;
}

.videobox iframe {
    width: 100%;
}

.footer {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer img {
    max-width: 390px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #bcc5cf;
    text-decoration: none;
}

.footer span {
    padding: 10px;
    font-size: 25px;
    font-weight: 100;
    color: #bcc5cf;
}

@media (max-width: 767px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
    h1 {
        margin-top: 30px;
        font-size: 40px;
    }
    .contact {
        flex-direction: column;
    }
}
