.content h3 {
    position: relative;
}

.content h3:after {
    content: "";
    border-bottom: 2px solid #f2f2f2;
    width: 500px;
    position: absolute;
    right: 0;
    bottom: -7px;
}

.content .element {
    display: flex;
    align-items: center;
    padding: 130px 20px;
}

.content-wrapper {
    padding: 50px 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .element .mouseover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

.content-wrapper.rotatescale {
    transform: scale(1.3) rotate(4deg);
}

.content .element .mouseover:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.content .element .text {
    flex: 1;
    color: #f2f2f2;
    padding: 15px;
    text-align: right;
}

.content .element:nth-child(even) .mouseover {
    flex-direction: row-reverse;
}

.content .element:nth-child(even) .text {
    text-align: left;
}

.content .element:nth-child(even) h3:after {
    left: 0;
}
