.overlay-wrapper {
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-duration: ease-in;

    opacity: 0;
    visibility: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-wrapper {
    margin-top: 50px;
    padding: 10px;
    max-width: 1200px;
}

.title-wrapper span {
    color: white;
    cursor: pointer;
    padding: 7px 10px;
    margin: 0 10px;
    text-transform: uppercase;
}

.title-wrapper span.active,
.title-wrapper span:hover {
    color: #101010;
    background-color: white;
}

.scrollview-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.overlay-wrapper.visible {
    opacity: 1;
    visibility: visible;
    transition-delay: 0;
}

.overlay {
    height: 60vh;

    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;

    display: flex;
    overflow-x: scroll;
    padding-left: 20vw;
}

.overlay::-webkit-scrollbar {
    display: none;
}

.video {
    position: relative;
    margin: 10px;

    min-width: 60vw;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.video:last-child {
    padding-right: 20vw;
}

.video-image-overlay {
    position: absolute;
    left: 41px;
    right: 41px;
    top: 0;
    bottom: 0;

    transition-duration: 0.4s;
    transition-delay: 0.3s;
    transition-timing-function: ease-out;

    display: flex;
    justify-content: center;
}

.video-image-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

.video .play-button {
    width: 40px;
    align-self: center;
    height: auto;
    cursor: pointer;
    padding: 15px;
}

img.close-button {
    width: 30px;
    float: right;
    margin-bottom: 30px;
    margin-right: 100px;
    cursor: pointer;

    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    padding: 20px;
}

img.close-button:hover {
    transform: scale(1.4);
}

.video::before {
    content: "";
    position: absolute;
    left: calc(-20vw - 7px);
    scroll-snap-align: start;
}

.video-subtitle {
    color: #636e72;
    color: white;
}
